services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - PROTOCOL=http
      - HOST_URL=45.147.201.155:3000
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '80:80'
    depends_on:
      - app