services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PROTOCOL=http
        - HOST_URL=localhost:81
    ports:
      - '80:80'
    depends_on:
      - app