services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PROTOCOL=${PROTOCOL}
        - HOST_URL=${HOST_URL}
    volumes:
      - build-artifacts:/app/dist  # Сохраняем сборку
    command: sh -c "npm run build && cp -r /app/dist/* /build-output/"

  nginx:
    image: nginx:alpine
    ports:
      - '80:80'
    volumes:
      - build-artifacts:/usr/share/nginx/html  # Берем ту же сборку
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  jenkins:
    image: jenkins/jenkins:lts-jdk21
    container_name: jenkins
    ports:
      - '8080:8080'
    volumes:
      - jenkins_data:/var/jenkins_home
      - build-artifacts:/var/jenkins_home/workspace/build  # Доступ к сборке
    restart: unless-stopped

volumes:
  jenkins_data:
  build-artifacts: