services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PROTOCOL=${PROTOCOL}
        - HOST_URL=${HOST_URL}
    ports:
      - '80:80'
    depends_on:
      - app
  jenkins:
    image: jenkins/jenkins:lts-jdk21
    container_name: jenkins
    ports:
      - '8080:8080'
    volumes:
      - jenkins-data:/var/jenkins_home
    restart: unless-stopped

volumes:
  jenkins-data: