services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PROTOCOL=${PROTOCOL}
        - HOST_URL=${HOST_URL}
    ports:
      - '80:80'
    depends_on:
      - app